{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('admin/category/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('admin/category/_delete_form.html.twig') }}

    {% if category and category.parent %}
        <a href="{{ path('app_admin_catalog_category', {'codeName': category.getParent.codeName}) }}">back to list</a>
    {% elseif category %}
        <a href="{{ path('app_admin_catalog') }}">back to list</a>
    {% endif %}
{% endblock %}
